* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-image: url('gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100vw;
    height: 100vh;
    font-size: 15pt;
}

.forms {
    backdrop-filter: blur(5px);
    border-radius: 40px;
    text-align: center;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    display: flex;
    padding: 12px;
    flex-direction: column;

    position: absolute;
    left: 60px;
    top: 120px;

    width: 65%;
    height: 300px;

}

input {
    border-radius: 30px;
    margin: auto;
    padding: 10px;
}

input[type=submit] {
    color: whitesmoke;
    background: #FF17BBB8;
    padding: 8px 15px;
  
}

input[type=submit]:hover {
    transform: scale(1.2);
    background-color: #AC17FFB8;
}

@media only screen and (min-width: 900px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {

        background-image: url('gif.gif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        width: 100vw;
        height: 100vh;
        font-size: 15pt;
    }

    .forms {
        backdrop-filter: blur(10px);
        text-align: center;
        width: 50%;

        height: 400px;
        color: white;
        display: inline-flex;
        position: absolute;
        top: 400px;
        left: 200px;
        flex-direction: column;
        border: 8px solid white;
        border-radius: 50px;
    }

    .main {}

    input {
        display: flex;
        margin: auto;

        width: 70%;
        border-radius: 25px;
        font-size: 30px;

        padding: 10px;
    }

    input[type=submit] {

        display: inline-block;
        width: 30%;
        color: ghostwhite;
        font-size: 25px;
    }
}