*{
  box-sizing: border-box;
  
}
body{
  margin: 0px;
  background-color: #AB44C847
}
header{
  background-color: #6116CCDB;
  height: 80px;
}
nav{
display: flex;
justify-content: center;
align-items: center;
}
nav ul{
  display: flex;
}
nav a{
  display: flex;
  margin-top: 20px;
  padding: 10px;
  color: black;
  text-decoration: none;

  
}
nav a:hover {
  background-color: ghostwhite;
  border-radius: 20px;
  
  
}
.account{

  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
 top: 10px;
 background-color: #9714BC9E;
}
.account a{
  font-family: 'Gabarito', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Tilt Neon', sans-serif;
  color: ghostwhite;
  text-decoration: none;
 padding: 4px;
}
.account a:hover{
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
}
.resources{
  background-attachment: fixed;
}
#logo{display: inline-block;
position: absolute;
top: 12px;
  margin-left: 6px;
  width: 60px;
  height: 60px;
  border: 2px solid #E610D1;
  border-radius: 50%;
}
section .well{
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}
.intro{
  margin: 0px 15px;
font-family: 'Gabarito', sans-serif;

  
}
.head{
  font-weight: bolder;
}
.thumbnail{
  margin: 5px;
  width: 98%;
}
.resources p{
  margin: 10px;
  
}

p a{
  color: #6500F5;
}
.form{
  border: 3px solid black;
  text-align: center;
  margin: 20px;
  back
}

@media only screen and (min-width:380px) {
  header {
    background-color: #0D78E6;
    height: 100px;
  }
  nav{
display: flex;
justify-content: center;
align-items: center;
}
nav ul{
  display: flex;
}
nav a{
  display: flex;
  margin-top: 20px;
  padding: 20px;
  color: black;
  text-decoration: none;

  
}
nav a:hover {
  background-color: ghostwhite;
  border-radius: 20px;
}

.account{
display:flex;
flex-direction:row;
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  right: 10px;
 top: 20px;
 background-color: #0DA0E6;
}
.account a{
  font-family: 'Gabarito', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Pixelify Sans', sans-serif;
font-family: 'Tilt Neon', sans-serif;
  color: ghostwhite;
  text-decoration: underline;
 padding: 15px;
}
.account a:hover{
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
}
#logo{display: inline-block;
position: absolute;
top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 80px;
  border: 3px solid #E808CF;
  border-radius: 20%;
}

}